main {
  min-height: 80vh;
}
.searchBox {
  position: relative;
  width: 500px;
}

.searchIcon {
  position: absolute;

  right: 0;
  bottom: -2px;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* CROUSEL */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  /* height: 300px;
  padding: 30px;
  margin: 40px; */
  /* border-radius: 50%; */
}

.carousel a {
  margin: 0 auto;
}
.previewGallery img {
  height: 75px;
  border-radius: 5px;
}
.product-name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.previewActive {
  border: 2px solid brown;
}
@media screen and (max-width: 998px) {
  .searchBox {
    width: initial;
  }
}
@media screen and (max-width: 430px) {
  .slider img {
    height: 25vh !important;
  }
}

.box {
  justify-content: center;
  margin-left: 10px;
  margin-top: 30px;
}

.productImage:hover {
  border-color: black;
}

.previewImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.email {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header__logo {
  width: 100px;
  height: 30%;
  margin-top: 10px;
  margin-right: 30px;
}


.social {
  font-size: 27px;
  align-items: center;
  display: flex;
}
.phone {
  font-size: 10px;
}

.categories {
  font-weight:medium;
  color: black;
}

.categoriesNavbar {
  background-color: #fff;
  color: black;
}

.footwear {
  padding-left: 30px;
}

.clothing {
  padding-left: 30px;
}

.accessories {
  padding-left: 30px;
}
